body {
    padding: 0;
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 20px;
    font-feature-settings: "zero" on, "ss05" on;
    line-height: 28px;
    color: #FFFFFF;
    background-color: #272727;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    border: none;
    padding: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.section {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.section h2 {
    position: absolute;
    left: -20px;
    bottom: 0;

    font-weight: 600;
    font-style: italic;
    font-size: 60px;
    line-height: normal;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    transform: rotate(-90deg);
    transform-origin: left;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 0;

    font-weight: normal;
    font-style: italic;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}

.main-header-clipped {
    position: relative;
    width: 980px;
    margin: 20px 0 0;
    padding: 80px 110px 95px;

    font-weight: 900;
    font-style: normal;
    font-size: 200px;
    background: url(../img/back-texture.png) no-repeat center;
    background-size: contain;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    box-sizing: border-box;

}

.main-header-clipped::before {
   content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: inherit;
    background-repeat: inherit;
    background-position: inherit;
    background-size: inherit;
    z-index: -2;
}

.main-header-clipped::after {
    content: "";

    width: 870px;
    height: 277px;
    background-color: #272727;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.main-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

}

.site-navigation {
    list-style: none;
    padding: 0;
    margin: 125px 0 0;

    display: flex;
    justify-content: space-between;
}

.site-navigation-link {
    position: relative;
    padding: 5px 0;

    font-weight: 900;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

.site-navigation-link::after {
    content: "";
    height: 15px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    border-top: 3px solid #FFFFFF;
}

.site-navigation-item:first-child {
    margin-top: 200px;
    margin-left: 15px;
    transform: rotate(-90deg);
    transform-origin: left;
}

.site-navigation-item:last-child {
    margin-top: 205px;
    margin-right: 15px;
    transform: rotate(90deg);
    transform-origin: right;
}

.site-navigation-link:hover::after {
    border-top: none;
    background: url(../img/pattern.png) repeat-x left bottom;
    background-size: contain;
}

.about {
    padding-top: 180px;
    padding-bottom: 40px;
    padding-left: 70px;
}

.about h2 {
    bottom: 130px;
}
.about-columns {
    display: flex;
    justify-content: space-between;
}

.about figure {
    display: flex;
    padding: 0;
    margin: 20px 0 70px;
}

.about figcaption {
    display: flex;
    justify-content: center;
    margin-left: 5px;

    writing-mode: vertical-rl;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: normal;
    font-feature-settings: "zero" on, "ss05" on;
}

.about .concert-city {
    margin-bottom: 20px;
}

.about p {
    text-indent: 70px;
    margin: 0 0 5px;
    line-height: 24px;
}

.about-column:nth-child(2) {
    display: flex;
    flex-direction: column;

    margin: 37px 74px 0;
}

.more-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 52px 0 0;
}

.more-link-wrapper h3 {
    max-width: 270px;
    margin: 0;

    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: normal;
    font-variant: all-small-caps;
    text-align: center;

}

.more-link {
    display: inline-block;
    position: relative;
    margin-top: 108px;

    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: normal;
    text-transform: lowercase;
    text-decoration: none;
    color: #FFFFFF;
}

.more-link::before {
    content: "";

    position: absolute;
    top: -90px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 72px;
    background: url("../img/one-eye.png") no-repeat center;
}

.more-link:hover::before {
    background: url("../img/double-eyes.png") no-repeat center;
}

.more-link:active {
    opacity: 0.5;
}